*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", serif, system-ui;
    --primary-dark: #333333;
    --primary-light: #DDDDDD;
    background-color: var(--primary-light);
}

main {
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;

    .left,
    .right {
        width: 200px;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: center;

        #sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            gap: 15px;
            font-size: 16px;

            #color-picker {
                width: 60px;
                height: 60px;
                border: 0;
                box-shadow: rgba(0, 0, 0, 0.40) 0px 0px 9px 0px;
                transition: all 0.25s ease;

                &:hover {
                    width: 63px;
                    height: 63px;
                    opacity: 90%;
                }
            }

            button {
                font-size: 18px;
                padding: 6px;
                border: 0;
                box-shadow: rgba(0, 0, 0, 0.40) 0px 0px 9px 0px;
                transition: all 0.25s ease-out;
                width: 80%;

                &:hover {
                    width: 83%;
                    height: 83%;
                    opacity: 90%;
                }

                &.active {
                    background-color: #444444;
                    color: var(--primary-light);
                    width: 83%;
                    height: 83%;
                    opacity: 90%;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                #resolution {
                    width: 80%;
                }

                #resolution-label {
                    margin-top: 5px;
                    font-size: 18px;
                }
            }
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        header {
            margin-top: 15px;

            h1 {
                font-size: 69px;
                font-weight: bold;
                text-align: center;
                color: var(--primary-dark);
            }
        }

        #canvas {
            display: flex;
            flex-flow: column nowrap;
            width: 500px;
            height: 500px;
            box-shadow: rgba(0, 0, 0, 0.30) 0px 0px 10px 0px;

            .row {
                display: flex;

                .pixel {
                    &:not(.colored) {
                        background-color: var(--primary-light);
                    }
                }
            }
        }

        footer {
            font-size: 20px;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}
